.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/CodeChunks.db
.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/SemanticSymbols.db
.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
.vs/project-majick-voice_mirror/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
.vs/project-majick-voice_mirror/FileContentIndex/5a28daad-6326-4ce2-85ef-0ea49bc28759.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/73656fa6-b2cc-414c-b57d-0308113c581c.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/8df48d5c-a0f2-4e23-9f00-aa269ede5283.vsidx
.vs/slnx.sqlite
.vs/project-majick-voice_mirror/FileContentIndex/0e33de47-d5ee-4fd6-bce0-f45a11a7d432.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/d14e6499-ca77-4c47-81e2-dc9eb77d32c4.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/eeacd180-715a-4f5d-adb9-f3516e6b4c17.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/79815a8e-4a26-4197-88b7-075253d8c767.vsidx
.vs/project-majick-voice_mirror/v17/.wsuo
.vs/project-majick-voice_mirror/FileContentIndex/d667737c-4785-4919-b9e2-fa24aa542ac3.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/a982b00e-a750-4864-b291-9cab6ec59a20.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/7060951e-c6b3-48b5-9d9f-168fc5cfaec7.vsidx
.vs/project-majick-voice_mirror/FileContentIndex/650edee4-e432-4968-bda6-1feae19c6c86.vsidx
