#Python
__pycache__/

# Database
*.db

# Visual Studio/VS Code
.vs/
.vscode/

# OS-specific
.DS_Store

# Environments
.venv/
venv/
env/

# Experiment voices and results
modelTesting/outputs/
modelTesting/voices/